:root{
    --gray-content: rgb(75, 73, 73);
    --extra-text: rgba(95, 95, 95, 0.733);
    --price-color: rgb(210, 72, 30);
}

body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* NAVBAR */

.pos-f-t{
    display: none;
}

.pos-f-t a:hover{
    color: #fff !important;
}

.pos-f-t a{
    color: #ddd !important;
}

/* LARGE SCREEN NAVBAR */

.large-screen-navbar{
    border-bottom: rgba(218, 216, 204, 0.76) 1px solid;
    height: 3em;
    border-bottom: 1px solid #BBBBBB;
}
  
.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 10px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    color:var(--gray-content) !important;
    font-weight: 400;
    font-size: 18px;
}

.navbar a:hover{
    opacity: 1;
}

.navbar-left a{
    font-weight: 600;
    font-size: 20px;
    opacity: 1 !important;
    text-transform: initial;
}

/* MAIN-CONTENT */

.container-fluid{
    margin-top: 1.5em;
}

.image-side{
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0 !important;
}

.image-side img{
    width: 70px;
    height: 90px;
    margin-bottom: 1.5em;
    display: block;
}

.active-image{
    border-bottom: 5px solid black;
    opacity: 80%;
}

.image-side>img:hover{
    border-bottom: 5px solid black;
    opacity: 80%;
}

.active-side-image{
    box-shadow:
        0 0 0 6px hsl(0, 0%, 100%),
        0 0 0 8px hsl(0, 0%, 90%);
}

.left-side{
    margin: 0 4em 0 2em;
}

.right-side{
    color: var(--gray-content) !important;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.right-side h2{
    color: var(--price-color);
}

.right-side h5{
    margin: .5em  0;
    color:var(--extra-text);
}

.small-size-carousel{
    display: none;
}

/* PRODUCT DESCRIPTION */

#description ul,
#description p{
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18px;
}

#title span{
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}

/* COLOR SELECTING */

.checked {
    color: orange;
}

.fa-caret-down,
  #recenze{
    margin-left: 5px;
}

.fa-shopping-bag{
    margin-left: 15px;
}

#color-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    margin: 1em 0  1em .5em;
}

#color-boxes >div{
    width: 27px;
    height: 27px;
}

#color-boxes>div:hover{
    box-shadow:
    0 0 0 6px hsl(0, 0%, 100%),
    0 0 0 8px hsl(0, 0%, 90%);
}

#colors{
    width: 115px;
}

#green-color{
    background-color: green;
}

#black-color{
    background-color: rgb(112, 48, 48);
}

#white-color{
    background-color: rgb(235, 230, 230);
} 

/* SELECT FORM */

#exampleFormControlSelect1{
    width: 250px;
}

#exampleFormControlSelect2{
    width: 110px;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-group{
    margin-right: 10px;
}

.form-control{
    margin-top: 1.5em;
}

.btn{
    width: 370px;
    height: 40px;
    margin-top: .5em;
}

.btn-light{
    box-shadow: -1px 2px 10px -2px rgba(0,0,0,0.75);
}

.shopping{
    text-align: center;
    color: var(--gray-content);
}

.shopping h6{
    margin-top: 1em;
}

/* RECOMMENDED ITEMS*/

.recommended-items{
    color: var(--gray-content);
}

.recommended-items h2{
    text-align: center;
}

.recommended-items hr{
    margin: 5em 0  !important;
    width: 100vw;
}

.recommended-items .container{
    display: flex;
    justify-content: space-between;
    min-width: 100vw
}

.recommended-content{
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    margin-top: 5em;
}

.recommended-content span{
    color: var(--price-color);
    font-size: 24px;
}

.recommended-content img{
    width:300px;
    height: 310px;
}

.descr-and-price{
    text-align: center;
}

/* REVIEWS */

.card{
    align-items: center;
    border: none !important;
}

.card-body{
    width: 85%;
    padding: 0 !important;
}

.comment-head{
    display: flex;
    justify-content: space-between;
}
.close{
    font-size: 35px !important;
    font-weight: 200;
}



@media (max-width: 992px){
    .image-side{
        display: none;
    }
    
    .left-side{
        margin: 0;
    }

    .right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw !important;
        margin-top: 1em;
    }

    .recommended-content img{
        width:270px;
        height: 280px;
    }

    .left-side{
        display: none;
    }

    .small-size-carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
    .small-size-carousel img{
        width: 90vw;
        height:80vh;
    }

    .recommended-items hr{
        width: 98vw;
        margin: 2em 0  !important;
    }
}


@media (max-width:700px){

    .pos-f-t{
        display: block;
        background: #ddd !important; 
        overflow: hidden;
    }

    .pos-f-t{
        color: #ddd!important;
    }

    .large-screen-navbar {
        display: none  !important;
    }

    .right-side{
        width: 80vw;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        margin-bottom: 1em;
    }

    .form-group{
        margin-right: 0;
    }

    .btn,
    #exampleFormControlSelect1,
    #exampleFormControlSelect2{
        width: 80vw;
    }
}

